<div class="client-modal-wrapper col-md-12 col-sm-12">
    <div class="col-sm-12 col-md-12 title">
        <h3 class="pull-left">Add Client</h3>
        <button class="btn btn-sm pull-right">Save Contact and Close</button>
    </div>
    <div class="line"></div>
    <div class="col-md-4 col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="entityname">ENTITY NAME</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="entityname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="entitytype">ENTITY TYPE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="entitytype">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="address">ADDRESS</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="mobile">MOBILE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="phone">PHONE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="fax">FAX</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="fax">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">EMAIL</label>
                <div class="col-sm-8"> 
                <input type="email" class="form-control" id="email">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="entityname">ENTITY NAME</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="entityname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="entitytype">ENTITY TYPE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="entitytype">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="address">ADDRESS</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="mobile">MOBILE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="phone">PHONE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="fax">FAX</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="fax">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">EMAIL</label>
                <div class="col-sm-8"> 
                <input type="email" class="form-control" id="email">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="entityname">ENTITY NAME</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="entityname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="entitytype">ENTITY TYPE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="entitytype">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="address">ADDRESS</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="mobile">MOBILE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="phone">PHONE</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="fax">FAX</label>
                <div class="col-sm-8"> 
                <input type="text" class="form-control" id="fax">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">EMAIL</label>
                <div class="col-sm-8"> 
                <input type="email" class="form-control" id="email">
                </div>
            </div>
        </form>
    </div>
</div>